@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e9e506;
    color: #2c3e50;
}

nav{
    margin-top: 200px;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    transform: skew(-20deg);
}

nav ul li{
    background-color: #fff;
    float:left;
    border-right: 2px solid #eee;
box-shadow: 1.95px 1.95px 2.6px rgba(0,0,0,1);
text-transform: uppercase;
color:#555;
font-weight: 400;
transition: all 0.2s linear;

}

a{
    color: inherit;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transform: skew(20deg);
}

nav ul li:hover{
    background-color: blue;
    color: white;
}

nav ul li:first-child{
    border-radius: 7px 0 0 7px; /*tl tr br bl*/
}
nav ul li:last-child{
    border-radius: 0 7px 7px 0; 
}